<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn2crack.swipeview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trashit Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".View.MainActivity2"
            android:label="Materiales"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Modelo.Login"
            android:exported="true"
            ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Modelo.Home"
            android:exported="true" />
        <activity
            android:name=".Modelo.Inicio"
            android:exported="true" />
        <activity
            android:name=".View.MainActivity"
            android:label="Puntos de reciclaje"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>